public-hoist-pattern[]=*@biomejs/biome*
# shamefully-hoist=true

@baidu:registry=http://registry.npm.baidu-int.com
@yy:registry=https://npm-registry.yy.com
@friend:registry=https://npm-registry.yy.com
@gfe:registry=https://npm-registry.yy.com
@hd:registry=https://npm-registry.yy.com
@astro-ui:registry=https://npm-registry.yy.com
@astro:registry=https://npm-registry.yy.com
@empjs:registry=https://registry.npmjs.org/
@rspack:registry=https://registry.npmjs.org/


//npm-registry.yy.com/:_password=ZDllNzI3YmFhNmQxMjRlMTQyM2JkZTcyMjdlZWExMDA4Y2M3NWNhZTAzNDJlYzJjMzI2ODQ4YTZjYWYyZWEzYw==
//npm-registry.yy.com/:username=liangxiaoming
//npm-registry.yy.com/:email=liangxiaoming@yy.com
