image: harbor.nova.com/front_end/emp:node20.11pnpm8.15
cache:
  key: ${CI_JOB_NAME}
  paths:
    - node_modules/

.common_script: &common_script
  - echo -e "\n10.18.111.211 registry.npmjs.org registry.yarnpkg.com" >> /etc/hosts
  - echo "当前commit hash ${CI_COMMIT_SHA}"
  - echo "manual触发者的用户名 ${GITLAB_USER_NAME}"
  - export branchName=`echo $CI_COMMIT_BRANCH`
  - pnpm i --ignore-scripts

unpkg_only:
  stage: build
  script:
    - echo -e "\n10.18.111.211 registry.npmjs.org registry.yarnpkg.com" >> /etc/hosts
    - echo "当前commit hash ${CI_COMMIT_SHA}"
    - echo "manual触发者的用户名 ${GITLAB_USER_NAME}"
    - export branchName=`echo $CI_COMMIT_BRANCH`
    - pnpm i
    - pnpm add -D @hd/pkgcare
    - if [ "$branchName" = "main" ] || [ "$branchName" = "master" ] || [ "$branchName" = "emp" ]; then 
        ./node_modules/.bin/pkgcare inc && pnpm build:unpkg && npm publish --no-git-checks;
      else 
        ./node_modules/.bin/pkgcare inc && pnpm build:unpkg && npm publish --no-git-checks --tag $branchName;
      fi
  when: manual
  artifacts:
    expire_in: 1 week
    paths:
      - dist

deploy:
  stage: deploy
  script:
    - *common_script
    - pnpm build
  when: manual
  artifacts:
    expire_in: 1 week
    paths:
      - dist